@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

@theme {
    --color-bg: #0f0f0f;
    --color-fg: #fff;
    --color-card-1: #d2b2b2;
    --color-card-2: #ea2017;
    --color-card-3: #2f2f2f;
    
    --font-family-serif: "Instrument Serif", sans-serif;
}

.card-container {
    perspective: 1000px;
}

.card {
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    backface-visibility: hidden;
}

.sticky-header h1 {
    will-change: transform, opacity;
}
